{% extends 'base.html' %}

{% block content %}

    <div>
        <h1>My Tasks</h1>
        <p>{{ tasks.name }}</p>
        {% if tasks %}

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            {% if task.is_completed %}
                                <td>Done</td>
                            {% else %}
                                <td>
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                            {% endif %}
                        </td>
                        </tr>

                    {% endfor %}
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </tbody>
    </table>
    </div>

{% endblock content %}